<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu de Navegacion</title>
    <link rel="stylesheet" type="text/css" href="app.component.css">
</head>
<body>
    
    <app-footer></app-footer>
    <app-navigation></app-navigation>
    <app-skeleton></app-skeleton>   
    

    <ul class="menu">
        <li><a href="#">Inicio</a></li>
        <li><a href="#">Productos</a></li>
        <li><a href="#">Servicios</a></li>
        <li><a href="#">Acerca de</a></li>
        <li><a href="#">Contacto</a></li>
    </ul>
    
    
    <div id="sidebar">
        <div class="toggle-btn">
          <span>&#9776;</span>
        </div>

        <ul>
          <li>
            <img src="logo.jpg" alt="logotipo" class="logo">
          </li>
          <li>Usuario</li>
          <li>Chat</li>
          <li>Calendario</li>
        </ul>
      </div>
    

    <h2>Fischers</h2>
    <h3>Servicio de perforacion de suelos en todo el pais</h3>
    <h4>La Geotecnia es una especialidad de la Geologia, se ocupa del estudio de las propiedades fisicas, mecanicas, e hidraulicas de los suelos y rocas provenientes de la corteza terrestre, con el fin de diseñar racionalmente las estructuras de cimentacion mas adecuadas para las diversas obras civiles tales como edificios, puentes, centrales hidroelectricas, etc., asi como definir el procedimiento mas adecuado y seguro para construir diversas obras de infraestructura como tuneles, presas, taludes, carreteras.</h4>

</body>
</html>
<br>
<app-interpolacion></app-interpolacion>